# Agent Configuratiom
MAIN_AGENT_MODEL=openai/gpt-4.1-mini
MEMORY_AGENT_MODEL=openai/gpt-4.1-mini
SUMMARIZER_MODEL=openai/gpt-4.1-mini

# API Keys
ANTHROPIC_API_KEY=sk-ant-...
OPENAI_API_KEY=sk-proj-...
GNEWS_API_KEY=

# Filesystem Configuration
DB_PATH=./filesystem-db
SUMMARY_DIR=/summaries