# Agent Configuratiom
MAIN_AGENT_MODEL=gpt-5-nano
MEMORY_AGENT_MODEL=gpt-5-nano
RETRIEVAL_AGENT_MODEL=gpt-5-mini
JIRA_AGENT_MODEL=gpt-5-nano
NEWS_AGENT_MODEL=gpt-5-nano
SLACK_AGENT_MODEL=gpt-5-nano

# API Keys
ANTHROPIC_API_KEY=sk-ant-...
OPENAI_API_KEY=sk-proj-...
GNEWS_API_KEY=

# Filesystem Configuration
DB_PATH=./filesystem-db
SUMMARY_DIR=/summaries

# Jira Webhook
JIRA_BASE_URL=
JIRA_ASSIGNEE_ACCOUNT_ID=
JIRA_WEBHOOK_SECRET=
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_AGENT_MODEL=

# Slack
SLACK_BOT_TOKEN=
SLACK_BOT_USER_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
