# dependencies
node_modules
.pnp.js

# testing
coverage

# production
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo


# database
*.db*

# svelte
.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# vercel
.vercel
